{{define "content"}}
<div class="container">
    <div class="row">

    {{if .NoMediasFound}}
        No playable media found
    {{end}}
    {{range .MediaList}}

        <div class="card col-12 m-1">
            <!--<img class="card-img-top" src=".../100px180/"> -->
            <div class="card-body">
                <h5 class="card-title">{{.Name}}</h5>
                <p class="card-text">{{.Extension}}</p>
                <a href="media/{{.Hash}}" class="btn btn-primary">View</a>
            </div>
        </div>

    {{end}}
    </div>
</div>
{{end}}